VITE_APP_NAME=LotoCheck
VITE_API_BASE_URL=https://lotocheck-api.test/api/v1
VITE_GOOGLE_CLIENT_ID=764728744073-4h8l7638uom853plt0hdsicn9avugf3p.apps.googleusercontent.com
VITE_STORAGE_PREFIX=lotocheck
